@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Satoshi", sans-serif;
}

@layer utilities {
    .absolute-center {
        position: absolute;
        inset: 0; 
        margin: auto;
    }
}